@model User
@{
    ViewData["Title"] = "Register";
}

<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-5">
        <div class="row gx-3 justify-content-center">
            <div class="col-lg-6 mb-0">
                <div class="text-center my-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-2"><i class="bi bi-person-fill-add" style="font-size:2rem;"></i></div>
                    <h2 class="display-5 fw-bolder text-white mb-0 mt-0">Register</h2>
                    <div class="container mt-0">
                        <p class="lead text-white-50 mt-0">We'd love to have you as a customer, feel free to register!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</header>
<!-- Register section-->
<section>
    <div class="form-container w-50 align-content-center mt-5" style="margin:auto;">

        <form asp-action="Register">
            <div class="form-group m-2">
                <label asp-for="Username">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
                <input class="form-control w-70" asp-for="Username" id="username" placeholder="Username">
            </div>
            <div class="form-group m-2">
                <label asp-for="Email">Email address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="email" class="form-control w-70" id="email" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted w-75">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group m-2">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" class="form-control w-70" asp-for="Password" id="password" placeholder="Password">
            </div>
            <a class="btn btn-outline-primary m-2 ml-6 align-self-center" href="/login/">Login</a>
            <input type="submit" asp-controller="Login" asp-action="Register" value="Register" class="m-2 px-lg-5" />
        </form>
    </div>
</section>

