<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!"><i class="bi bi-airplane-fill me-3"></i>Pigeon Agency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @{
                        string username = "";
                        var claims = Context.User.Claims.ToList();
                        if(claims.Count > 0)
                        {
                            username = claims[0].Value;
                            ViewData["username"] = username;
                        }
                    }
                    @if(ViewData["Title"].ToString() == "Home" && Context.User.IsInRole("Admin") && Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    }
                    else if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    }
                    @if (ViewData["Title"].ToString() == "Flights" && Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link active" href="/flights">Flights</a></li>
                    }
                    else if(Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="/flights">Flights</a></li>
                    }
                    @if (ViewData["Title"].ToString() == "Users" && Context.User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link active" href="/users">Users</a></li>
                    }
                    else if (Context.User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                    }
                    @if (ViewData["Title"].ToString() == "Bookings" && Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link active" href="/booking">Bookings</a></li>
                    }
                    else if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="/booking">Bookings</a></li>
                    }
                    @if (ViewData["Title"].ToString() == "Contact")
                    {
                        <li class="nav-item"><a class="nav-link active me-3" href="/contact">Contact</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link me-3" href="/contact">Contact</a></li>
                    }
                    @if (ViewData["Title"].ToString() == "Register" || ViewData["Title"].ToString() == "Login" && !Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link active" href="/login">Login/Register</a></li>
                    }
                    else if (!Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="/login">Login/Register</a></li>
                    }
                    else
                    {
                        if (Context.User.IsInRole("Client"))
                        {
                            
                        <div class="dropdown mx-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @username
                            </button>
                                <div class="dropdown-menu bg-dark bg-opacity-50" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link" asp-controller="Flights" asp-action="Index">Flights</a>
                                <a class="nav-link" asp-controller="Booking" asp-action="Index">Bookings</a>
                                <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                            </div>
                            </div>
                        }
                        else
                        {
                            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @username
                            </button>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link" asp-controller="Flights" asp-action="Index">Flights</a>
                                <a class="nav-link" asp-controller="Booking" asp-action="Index">Bookings</a>
                                <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                                    <div class="dropdown-divider text-light fw-bold"></div>
                                    <span class="p-2 text-danger" href="#">Admin</span>
                            </div>
                        </div>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
            @RenderBody()
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Pigeon Agency 2023</p></div>
    </footer>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
