
@{
    ViewData["Title"] = "Home";
}
<partial name="_Notification" />
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Travel at ease, with our fast and comfy airlines</h1>
                    <p class="lead text-white-50 mb-4">Quickly book a flight at any destination you'd like and let us handle all the hassle'</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/flights">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/contact">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0" style="justify-content:center;">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="text-align:center;">
                    <i class="bi bi-globe" style="font-size:2rem;"></i>
                    </div>
                <h2 class="h4 fw-bolder">Experience the World</h2>
                <p>Looking for an adventure? Our travel agency can help you explore some of the most beautiful and exciting destinations around the world. From exotic beaches to snow-capped mountains, we've got you covered. Let us help you plan your next unforgettable trip!</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="text-align:center;"><i class="bi bi-sunglasses" style="font-size:2rem;"></i></div>
                <h2 class="h4 fw-bolder">Escape to Paradise</h2>
                <p>Tired of the daily grind? It's time to take a break and escape to paradise. We offer a wide range of relaxing and luxurious vacation packages to some of the world's most stunning tropical destinations. Let us help you find your own slice of paradise.</p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="text-align:center;"><i class="bi bi-gem" style="font-size:2rem;"></i></div>
                <h2 class="h4 fw-bolder">Discover Hidden Gems</h2>
                <p>
                    Are you a traveler who loves to explore off the beaten path? Our travel agency specializes in uncovering hidden gems and unique experiences around the world. Whether you're looking for a secluded beach, a hidden waterfall, or a charming local village, we can help you find it.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Customer testimonials</h2>
            <p class="lead mb-0">Our customers love travelling with us</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">I booked a trip to Greece through this agency and it exceeded all my expectations. The staff was helpful and the itinerary was perfect. Can't wait to book my next adventure with them!</p>
                                <div class="small text-muted">- Moath Tarawneh, Al-Karak</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">I had a wonderful experience booking a trip to Japan through this travel agency. They were attentive to my needs and made sure every detail was perfect. Highly recommend!</p>
                                <div class="small text-muted">- John Saraireh, Location</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>