
@model EmailData
@{
    ViewData["Title"] = "Contact";
}

<partial name="_Notification" />
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-5">
        <div class="row gx-3 justify-content-center">
            <div class="col-lg-6 mb-0">
                <div class="text-center my-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-2"><i class="bi bi-envelope" style="font-size:2rem;"></i></div>
                    <h2 class="display-5 fw-bolder text-white mb-0 mt-0">Contact Us!</h2>
                    <div class="container mt-0">
                        <p class="lead text-white-50 mt-0">We'd love to hear your feedback as it helps us improve our services to people like you!</p>
                    </div>
                </div>
            </div>
        </div>
</header>
<!-- Contact section-->
<section class="bg-light py-3">
    <div class="row gx-5 justify-content-center">
        <div class="text-center">
            <p class="lead mb-3 mt-0"><h5>We'd love to hear from you</h5></p>
            <p class="bg-success w-auto text-white m-0 data-mdb-animation-start="><h7>@ViewData["confirm"]</h7></p>
        </div>
        <div class="col-lg-6 m-3">
            <form method="post" class="m-3">
                <!-- Name input-->
                <div class="form-floating mb-3">
                    <input asp-for="fullname" class="form-control" name="fullname" id="name" type="text"  placeholder="Enter your name..." data-sb-validations="required" />
                    <label asp-for="fullname">Full name</label>
                    <span asp-validation-for="fullname" class="invalid-feedback" data-sb-feedback="name:required">A name is required.</span>
                </div>
                <!-- Email address input-->
                <div class="form-floating mb-3">
                    <input asp-for="email" class="form-control" name="email" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                    <label asp-for="email">Email address</label>
                    <span class="invalid-feedback" asp-validation-for="email" data-sb-feedback="email:required">An email is required.</span>
                </div>
                <!-- Phone number input-->
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="phonenumber" name="phone" id="phone" placeholder="(123) 456-7890" data-sb-validations="required" />
                    <label asp-for="phonenumber">Phone number</label>
                    <span class="invalid-feedback" asp-validation-for="phonenumber">A phone number is required.</span>
                </div>
                <!-- Message input-->
                <div class="form-floating mb-3">
                    <textarea asp-for="message" class="form-control" name="message" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                    <label asp-for="message">Message</label>
                    <span asp-validation-for="message" class="invalid-feedback" data-sb-feedback="message:required">A message is required.</span>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                <!-- Submit Button-->
                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" asp-controller="Contact" asp-action="SendMessage" type="submit">Submit</button></div>

            </form>
        </div>
    </div>
    </div>
</section>

